#debtBody p {
  margin: 0;
}

button {
  /* width: 125px; */
  border-radius: 0.25rem;
  border: 1px solid transparent;
  margin-top: 10px;
}

.navbar button {
  width: unset;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
  margin-right: 1em;
}
