*{
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-right-wrapper {
  color: white;
  font-size: large;
}

.bg-primary {
  background-color: rgb(0, 123, 255) !important;
}

.navbar-light .navbar-brand {
  color: white;
  font-size: unset;
}

@media (max-width: 400px) {
  .navbar-brand {
    margin-right: 0.5em;
  }
}

.deleteButton {
  float: right;
  display: inline;
}

.deleteButton button {
  background-color: #ef233c;
}

form {
  display: inline;
}
