.description {
  max-width: 200px !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description:hover {
  overflow: show;
}

.filter {
  text-align: center;
  width: 300px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.filter button {
  box-shadow: none !important;
}
