.description {
  max-width: 200px !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description:hover {
  overflow: show;
}

.filter {
  text-align: center;
  width: 300px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.filter button {
  box-shadow: none !important;
}

.loginFooter {
  margin-top: 13em;
}
.registerFooter {
  margin-top: 10em;
}

@media (min-width: 500px) {
  .loginFooter,
  .registerFooter {
    margin-top: unset;
    position: fixed;
    bottom: 0;
  }
}
